<!DOCTYPE html>
<html lang="en">

<head>
  <title>Guide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="guide.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: lightseagreen;">

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/" style="color: black;">Home</a></li>
          <li><a href="/plants" style="color: black;">Database</a></li>
          <li><a href="/login" style="color: black;">Login</a></li>
          <li><a href="/signup" style="color: black;">Sign-Up</a></li>
        </ul><br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Guides...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

      <div class="col-sm-9" style="background-color:rgb(89, 116, 89); height:100%; width:25%;">

        <section>
          <h2 class="text-center" style="background-color: rgba(143, 188, 143, 1);">Community Plant Guides</h2>
        </section>
        <!--Display tutorials/guides from users-->
        <section class="text-center" style="background-color: rgba(143, 188, 143, 1);">
          <% items.forEach(function(image) { %>
            <div>
              <div>
                <h3>
                  <%= image.name %>
                </h3>
                <img class="p-1" style="height:50%; width:50%;" src="data:image/<%=image.img.contentType%>;base64,
                             <%=image.img.data.toString('base64')%>">
                <hr>
                <div class="mx-auto text-start">
                  <p>
                    <%= image.desc %>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>
        </section>
      </div>
    </div>
  </div>

</body>

</html>