<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="bootstrap.css" rel="stylesheet"  crossorigin="anonymous">
    <link href="mainpage.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome.min.css">
    <title>Gardeners For All</title>
</head>
<body class="bodybg">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="img/homepage.svg" width="64" height="64"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/plants">Plant DB</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/forum">Forum</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign-Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/guide">Guide</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <section class="row">
      <section class="col-md-4 container secondbg my-2 mx-auto clickme" style="width: 30%">
        <section class="parasect align-items-center justify-content-center">
            <h2 class="text-white text-center container textbg">Plant Database</h2>
            <p class="textbg py-auto display-3">Is there a plant you want to search up or maybe curious about whether is it annual or perenniel?
    
            Ready to look up some plants? Click <a href="/plants">here</a> to get started!
            </p>
        </section>
      </section>
      <section class="col-md-4  container mainbg my-2 mx-auto" style="width: 30%">
      <section class="parasect align-items-center justify-content-center">
          <h2 class="text-white text-center container textbg">Welcome to Gardeners For All!</h2>
          <p class="textbg my-auto display-4">Gardeners For All is a community-based gardening website that provides tips and guides for people to take care of and maintain their gardens whether you're starting out or looking for a better way to get a more colorful and plentiful garden!
  
          Ready to look up some plants? Click <a href="/plants">here</a> to get started!
          </p>
        </section>
  </section>
    <section class="col-md-4 container thirdbg my-2 mx-auto" style="width: 30%">
      <section class="parasect align-items-center justify-content-center">
        <h2 class="text-white text-center container textbg">Community</h2>
        <p class="textbg my-auto display-4">Want to come to chat with other gardeners and share tips and tricks on how to raise your garden? Maybe you want to show off your wonderful garden instead. Come join the forums to discuss various garden-related topics!

        Ready to look up some plants? Click <a href="/plants">here</a> to get started!
        </p>
      </section>
  </section>
    </section>
    </section>
    <footer class="row bg-success navbar-dark justify-content-center">
        <section class="col-12">
            <h5 class="text-white">Contact Information</h5>
            <ul class="nobullets">
                <li><a href="https://www.facebook.com/profile.php?id=100063987799966" class="text-decoration: none;"><i class="fa fa-facebook-official extraClass" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/tyleralrobinson/" class="text-decoration: none;"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a></li>
                <li><a href="https://github.com/TRCoders" class="text-decoration: none;"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/TylerALRobinson" class="text-decoration: none;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </section>
    </footer>
</body>
</html>