<!doctype html>
<html>
<head>
    <title>Garden Profile</title>
    <link href="bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="bootstrap.css" rel="stylesheet"  crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- Font Awesome icons (free version)-->
</head>
<body class="bg-dark">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/"><img src="img/homepage.svg" width="32" height="32"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/plants">Database</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/forum">Forum</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/guide">Guide</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
<section class="text-center bg-dark text-white">
<h1>Garden Guides</h1>
</section>
<hr>
<div class="d-flex justify-content-center align-content-start text-white">
    <form action="/" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Plant Name</label>
            <input type="text" id="name" placeholder="Name" 
                   value="" name="name" required>
        </div>
        <div>
            <label for="desc">Plant Description</label>
            <textarea id="desc" name="desc" value="" rows="2" 
                      placeholder="Description" required>
            </textarea>
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image" 
                   name="image" value="" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<hr>

<h1 class="text-center">Uploaded Guides</h1>
<div class="h-100 row align-items-center col px-5">
    <% items.forEach(function(image) { %>
    <div>
        <div>
            <img class="p-1"src="data:image/<%=image.img.contentType%>;base64,
                 <%=image.img.data.toString('base64')%>">
            <div>
                <h5><%= image.name %></h5>
                  


                <p><%= image.desc %></p>



            </div>
        </div>
    </div>
    <% }) %>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
<script src="jqBootstrapValidation.js"></script>
<script src="contact_me.js"></script>
<!-- Core theme JS-->
<script src="scripts.js"></script>
<script src="main.js"></script>

</body>
</html>
